{{"{{"}} define "content" {{"}}"}}

{{"{{"}} if .Body {{"}}"}}
    {{"{{"}} .Body {{"}}"}}
{{"{{"}} else {{"}}"}}
    <div id="app" data-page="{{"{{"}} mustToRawJson .Page {{"}}"}}"></div>
{{"{{"}} end {{"}}"}}

{{"{{"}} end {{"}}"}}
