import React from "react";
import ReactDOM from "react-dom";

ReactDOM.render(
  <React.StrictMode>
      <div className="h-screen text-center bg-stone-100">
          <img src="/static/logo.svg" alt="Copper Logo" className="pt-20 mx-auto" />
          <h1 className="text-4xl font-bold">Hello, Copper</h1>
      </div>
  </React.StrictMode>,
  document.getElementById("app")
);
