{{"{{"}} define "content" {{"}}"}}
<div class="h-screen text-center bg-stone-100">
    <img src="/static/logo.svg" alt="Copper Logo" class="pt-20 mx-auto" />
    <h1 class="text-4xl font-bold">Hello, Copper</h1>
</div>
{{"{{"}} end {{"}}"}}
