package web

import (
	"net/http"

    "github.com/gocopper/copper/cauth"
	"github.com/gocopper/copper/chttp"
	"github.com/gocopper/copper/clogger"
)

type NewRouterParams struct {
	RW     *chttp.ReaderWriter
	SessionMW *cauth.VerifySessionMiddleware
	Logger clogger.Logger
}

func NewRouter(p NewRouterParams) (*Router, error) {
	return &Router{
		rw:     p.RW,
		sessionMW: p.SessionMW,
		logger: p.Logger,
	}, nil
}

type Router struct {
	rw     *chttp.ReaderWriter
	sessionMW *cauth.VerifySessionMiddleware
	logger clogger.Logger
}

func (ro *Router) Routes() []chttp.Route {
	return []chttp.Route{
		{
			Path:    "/",
			Methods: []string{http.MethodGet},
			Handler: ro.HandleIndexPage,
		},
    }
}

func (ro *Router) HandleIndexPage(w http.ResponseWriter, r *http.Request) {
	ro.rw.WriteHTML(w, r, chttp.WriteHTMLParams{
		PageTemplate: "index.html",
	})
}
