package {{.pkg}}

import (
  "gorm.io/gorm"
  "github.com/gocopper/copper/cerrors"
)

func NewMigration(db *gorm.DB) *Migration {
    return &Migration{
        db: db,
    }
}

type Migration struct {
    db *gorm.DB
}

func (m *Migration) Run() error {
    err := m.db.AutoMigrate()
    if err != nil {
        return cerrors.New(err, "failed to auto migrate {{.pkg}} models", nil)
    }

    return nil
}
