package web

import (
	"embed"

	"github.com/gocopper/copper/chtml"
	"github.com/google/wire"
)

var (
	//nolint:golint
	//go:embed src
	HTMLDir embed.FS

	//nolint:golint
	//go:embed static
	StaticDir embed.FS
)

var WireModule = wire.NewSet(
	wire.InterfaceValue(new(chtml.HTMLDir), HTMLDir),
	wire.InterfaceValue(new(chtml.StaticDir), StaticDir),
)

