package app

import (
	"net/http"

	"github.com/gocopper/copper/chttp"
	"github.com/gocopper/copper/chtml"
)

type NewHTTPHandlerParams struct {
	RequestLoggerMW *chttp.RequestLoggerMiddleware

	HTML *chtml.Router
}

func NewHTTPHandler(p NewHTTPHandlerParams) http.Handler {
	return chttp.NewHandler(chttp.NewHandlerParams{
		GlobalMiddlewares: []chttp.Middleware{
			p.RequestLoggerMW,
		},

		Routers: []chttp.Router{
		    p.HTML,
		},
	})
}
