package web

import (
	"embed"

	"github.com/google/wire"
	"github.com/gocopper/copper/chttp"

	"{{.module}}/web/build"
)

//nolint:golint
//go:embed src
var HTMLDir embed.FS

var WireModule = wire.NewSet(
	wire.InterfaceValue(new(chttp.HTMLDir), HTMLDir),
	wire.InterfaceValue(new(chttp.StaticDir), build.StaticDir),
)

